<% content_for :page_title do %>
    <div><%= Spree.t(:import_log_for_import_log, import_log_date: @import_log.created_at) %></div>
    <div>message d'importation : <%=@import_log.message%></div>
<% end %>


<% if (@stock_movements = @import_log.stock_movements.page(params[:page])).any? %>
    <table class="table" id='listing_stock_movements'>
      <colgroup>
        <col style="width: 35%">
        <col style="width: 20%">
        <col style="width: 45%">
      </colgroup>
      <thead>
      <tr data-hook="admin_stock_movements_index_headers">
        <th><%= Spree.t(:stock_item) %>
        <th><%= Spree.t(:quantity) %></th>
      </tr>
      </thead>
      <tbody>
      <% @stock_movements.each do |stock_movement|%>
          <tr id="<%= spree_dom_id stock_movement %>" data-hook="admin_stock_movements_index_rows">
            <td>
              <%= display_variant(stock_movement) %>
            </td>
            <td><%= stock_movement.quantity %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::StockMovement)) %>
    </div>
<% end %>

<%= paginate @stock_movements %>